/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 15px 10px 15px 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    background-color: #fff!important;
    z-index: 1;
}


button{
    position: absolute;
    background: none;
    border: none;
    transition: background-color 0.3s, color 0.3s; 
    text-transform: uppercase;
}

button:hover { 
    font-weight: 600;
    -webkit-tap-highlight-color: transparent;
}

button:focus {
    outline: none;
}

/* TYPOGRAPHY */

h1 {
    font-size: 3 rem;
}

h2 {
    font-size: 2 rem;
    color: #707070;
    padding-bottom: 15px;
}

h3 {
    padding-bottom: 1em;
}

h4 {
    color: #707070;
    padding: 0 1em 0 1em;
    justify-self: end;
}


/* SPECIFIC */

/* TOP MENU */
.top-menu{
    display: grid;
    align-items: center;
}

.desktop {
    grid-template-columns: 3fr 6fr 3fr;
}

.mobile {
    grid-template-columns:1fr;
}

.info {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
}

/* .sticky + .content {
padding-top: 60px;
} */

.hamburger-menu {
    color: #516693;
    font-size: 30px;
    right: 0.5em;
}

.cleanup {
    margin: 0 auto;
    max-height: 30px;
}

.contact-header {
    justify-self: start;

}

/* NAVBAR MENU */


.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #fff;
    background-color: #fff;
    transition: 0.5s;
    overflow: hidden;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    overflow-y: hidden;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #707070;
    display: block;
    transition: 0.3s;
  }

/* MAIN BODY */

.main-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
    overflow-y: auto;
}

.columns {
    display: flex;
    padding: 0 24px;
    margin: 1em 0;
    align-items: flex-start;
}

.col {
    padding: 1em;
}

.col-1 {
    width: 25%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 75%;
}

.col-bg { 
    background-color: #516693;
    opacity: 60%;
    color: #fff;
}


/*  MEDIA QUERIES */

@media (max-width: 760px) {
    .columns {
        flex-direction: column;
    }

    .col-1, .col-2, .col-3 {
        width: 100%;
    }

    .desktop {
        display: none;
    }
}

@media (min-width: 760px) {
    .mobile {
        display: none;
    }
}

/* FOOTER */

.Footer {
    padding: 72px;
    background-color: #212a2f;
    font-size: 0.8em;
}

.container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap:1em;
    grid-auto-rows: minmax(100px, auto);
    /* justify-items:center; */
    padding: 0 2em;
    margin: 0 auto;
}

.container > div {
    color: #fff;
    padding: 1em 1em 2em 1em;
    /* background-color: #eee; */
}

.box > ul {
    padding: 0.5em 0 0.5em 0;
}

.box > ul > img {
    padding: 0.5em 1em 0em 0em;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        justify-items:center;
    }
    
    .box > h3, div {
        text-align: center;
    }

}
