nav section.desktop {
    display: grid;
    grid-template-columns: 1fr 250px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5px;
}

nav section.desktop > img {
    max-width: 3em;
    margin: 0.5em;
}

section.desktop > header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    align-items: center;
    justify-items: end;
}

section.desktop > a {
    border-bottom: 1px solid transparent;
}

section.desktop >  a:hover {
    border-bottom: 1px dotted #000;
    font-weight: 700;
}