nav section.desktop {
    display: grid;
    grid-template-columns: 1fr 200px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5px;
}

nav section.desktop > img {
    max-width: 2rem;
    margin: 0.5em;
}

section.desktop > header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
}

section.desktop > a {
    border-bottom: 1px solid transparent;
}

section.desktop >  a:hover {
    border-bottom: 1px dotted #000;
    font-weight: 700;
}


@media (max-width: 1400px) {
    nav section.desktop  {
        max-width: 800px;
        font-size: 0.8rem;

    }

}