nav section {
    display: grid;
    align-items: center;
    padding: 0 5px;
    grid-template-columns: 1fr 1fr;
}

nav section > img.mobile{
    max-width: 2em;
    margin: 0.5em;
}

.hamburger {
    justify-self: end;
}

.hamburger-menu {
    margin-left: -3em;
    width: 30px;
    height: 1px;
    background: #222;
    position: absolute;
    transition: 0.5s;
    -webkit-tap-highlight-color:  rgba(0, 0, 0, 0); 
}

.hamburger-menu:before,
.hamburger-menu:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background: #222;
    transition: 0.5s;
}

.hamburger-menu:before {
    top: -8px;
}
.hamburger-menu:after {
    top: 8px;
}

.hamburger.active .hamburger-menu {
    background: rgba(0,0,0,0);
    transform: rotate(90deg)
}

.hamburger.active .hamburger-menu:before {
    top: 0;
    transform: rotate(225deg)
}

.hamburger.active .hamburger-menu:after {
    top: 0;
    transform: rotate(135deg)
}