nav section {
    display: grid;
    align-items: center;
    padding: 0 5px;
    grid-template-columns: auto 3em;
}

nav section > img.mobile{
    max-width: 2em;
    margin: 0.5em;
}

.hamburger {
    justify-self: end;
}

.hamburger-menu {
    margin-left: -3em;
    width: 30px;
    height: 1px;
    background: #222;
    position: absolute;
    transition: 0.5s;
    -webkit-tap-highlight-color:  rgba(0, 0, 0, 0);
}

.hamburger-menu:before,
.hamburger-menu:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background: #222;
    transition: 0.5s;
}

.hamburger-menu:before {
    top: -8px;
}
.hamburger-menu:after {
    top: 8px;
}

.hamburger.active .hamburger-menu {
    background: rgba(0,0,0,0);
    transform: rotate(90deg)
}

.hamburger.active .hamburger-menu:before {
    top: 0;
    transform: rotate(225deg)
}

.hamburger.active .hamburger-menu:after {
    top: 0;
    transform: rotate(135deg)
}

button {
    border: transparent;
    background:none;
    outline:none;
    padding:0;
    padding-top: 2px;
}

button > svg {
    display: block;
    margin: auto;
    max-width: 2em;

}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}
.line {
    fill: none;
    stroke: #f7ac2b;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
