.top-menu{
    display: grid;
    align-items: center;
    padding: 0 5px;
}

.mobile {
    grid-template-columns: 1fr 1fr;
}

.velox-icon-mobile {
    max-width: 2em;
    margin: 0.5em;
}

.icon {
    justify-self: end;
}

.hamburger {
    margin-left: -3em;
    width: 30px;
    height: 4px;
    background: #516693;
    opacity: 0.8;
    position: absolute;
    transition: 0.5s;
    -webkit-tap-highlight-color:  rgba(0, 0, 0, 0); 
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #516693;
    transition: 0.5s;
}

.hamburger:before {
    top: -8px;
}
.hamburger:after {
    top: 8px;
}

.icon.active .hamburger {
    background: rgba(0,0,0,0);
    transform: rotate(90deg)
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(225deg)
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg)
}