.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 50px;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
    opacity: 0.95;
}

.overlay-content {
    display: grid;
    grid-template-rows: 1fr 200px 2fr 1fr;
    justify-items: center;
    text-align: center;
    height: calc(100% - 3em);
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    display: block;
    transition: 0.3s;
}

.overlay.active {
    height: 100%!important;
}

.social-icons {
    width: 100%;
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}