
.main-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    overflow-y: auto;
    padding: 4em 0 2em 0;
}

.main-container > header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #e2e8f0;
    margin: 0 1em;

    
}

h2 {
    color: #f7ac2b;
}

.main-container header > p {
    font-size: small;
    justify-self: end;
    align-self: end;
    padding-bottom: 2px;
}

.main-container article {
    padding: 1em;
}

@media (max-width: 450px) {
    .main-container {
        padding: 2em 0 4em 0;
    }

    .main-container header {
        text-align: center;
        grid-template-columns: 1fr;
    }

    .main-container header > p {
        justify-self: center;
        padding-left: 2px;
    }
}

@media (min-width: 450px) {
    .main-container {
        grid-template-columns: 1fr 1fr;
    }

    .main-container > header h1 {
        align-self: end;
    }

    .main-container > header {
        grid-column: 1/3;
    }
}

@media (max-width: 1400px) {
    .main-container {
        max-width: 800px;
        font-size: 0.8rem;

    }

}
/* IF THE HOSTED PAGE IS BLANK AND THROWS AN ERROR ABOUT "<", CHANGE THE HOMEPAGE IN PACKAGE.JSON */