.carousel-root {
    padding: 1em 0;
	width: 100%;
    align-self: center;
    height: 100%;
    /* outline: 3px solid #000; */
}

.slider-wrapper {
    height: 100%;
}

.slide.selected {
    height: 100%;
}

.carousel-style {
    height: 100% !important;
}

.carousel .control-arrow,.carousel.carousel-slider .control-arrow{
    opacity: 1;
}

.control-prev.control-arrow::before {
    border-right: 8px solid #f7ac2b!important;
}

.control-next.control-arrow::before {
    border-left: 8px solid #f7ac2b!important;
}

.control-prev.control-arrow:hover {
    background: rgba(0,0,0,0)!important;
}

.control-next.control-arrow:hover {
    background: rgba(0,0,0,0)!important;
}

@media (min-device-width: 450px) and (max-device-width: 750px) {
    .carousel-root {
        /* padding: 0 0 0 2em; */
        padding: 1em 0;
        grid-column: 1/3;
        align-items: center;
    }
}

@media (min-width: 750px) {
    .carousel-root {
        padding-bottom: 3em;
        grid-column: 1/3;
        align-items: center;
    }
}