
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    max-width: 1200px;
    margin: 0 auto;
    overflow-y: auto;
    padding-bottom: 72px;;
}

.columns {
    display: flex;
    padding: 0 24px;
    margin: 1em 0;
    align-items: flex-start;
}

.col {
    padding: 1em;
}


.col-bg { 
    background-color: #516693;
    opacity: 60%;
    color: #fff;
}