.Footer {
    display: grid;
    padding: 4em;
    background-color: rgba(234,234,234,0.15);
    border-top: 1px solid #e2e8f0;
    font-size: 0.8em;
}

.container {
    max-width: 1000px;
    min-width: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 2em;
    grid-auto-rows: minmax(100px, auto);
    margin: 0 auto;
}

.container > div {
    padding: 1em;
}

.social-icons-footer {
    width: 50%;
    margin: 2em auto 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

@media (max-width: 450px) {
    .Footer > h3, .box {
        text-align: center;
    }
    
    .Footer > .container {
        grid-template-columns: 1fr;
    }

    .Footer {
        padding: 3em 0;
    }
    
    .social-icons-footer {
        grid-template-columns: 1fr 1fr;
        margin: 2em auto 0 auto;
    }
}


@media (min-device-width:450px) and (max-device-width: 700px) { 
    .Footer > .container {
        grid-template-columns: 1fr 1fr;
    }
    
    .Footer > .carousel-wrapper {
        grid-column: 1/3;
    }
    
}

